.header {
    padding-top: 14px;
}
.header__content {
    padding: 0;
}

.header__logo {
    
    min-width: 97px;
    min-height: 89px;
    img{
        width: 100%;
    }
}
.header__wrapper {
    .row:first-child{
        padding-bottom: 14px;
        border-bottom: 1px solid #e5e5e5;
    }
    .row:last-child{
        height: 62px;
    }
}

.search {
    position: relative;
    padding: 2px 3px;
}
.search__button {
    width: 23px;
    height: 26px;
    border:none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    img{
        width: 100%;
    }
    &:focus{
        outline: none;
    }
}
.search__input {
    border: none;
    outline:none;
    width: 100%;
    color: $greytext;
    font-family: 'Roboto',sans-serif;
}

.login {
    position: relative;
    padding: 0;
    padding-left:13px;
    padding-bottom: 1px;
}
.login__icon {
    position: absolute;
    left: -21px;
}
.login__link {
    color: $maincolor;
    font-size: 15px;
    transition: 0.5s all;
    &:hover{
        text-shadow: 0 1px 5px rgba($maincolor, $alpha: 0.6);
        text-decoration: none;
        color: $maincolor;
    }
}
.header__title {
    color: $blacktext;
    letter-spacing: 0.7px;
    font-size: 14px;
    padding: 0;
    transform: translate(3px,-10px);
}
.header__contact {
    transform: translate(25px,-4px);
    padding: 0;
}
.contact{
    
    &__phone{
        display: inline-block;
        font-size: 14px;
        letter-spacing: 0.7px;
        color:$blacktext;
        line-height: 22px;
        transition: 0.5s all;
        &:hover{
            transform: translateY(1px);
            text-decoration: none;
            color: $maincolor;
        }
    }
    &__time{
        color: $greytext;
        font-weight: 200;
        font-size: 12px;
        letter-spacing: 0.7px;
    }
}
.header__delivery {
padding: 0;
padding-left: 12px;

}
.delivery{
    
    &__icon{
        transform: translateY(-1px);
        min-width: 37px;
        min-height: 28px;
        img{
            width: 100%;
        }
    }   
    &__descr{
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.7px;
        color: $greytext;
    }
} 

.header__btn {
    margin-bottom: 6px;
    margin-right: 4px;
}
