
.main {
    padding-top: 30px;
    
}

.filter__content{
    
    box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.07);
    transition: 0.5s all;
 
    
}
.filter__item{
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    
    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 44px;
        flex: 1 1 100%;
        padding-left: 18px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        font-size: 14px;
        font-weight: 300;
        color: $blacktext;
        letter-spacing: 0.7px;
        transition: 0.5s all;
        .filter__logo{
            width: 20px;
            height: 20px;
            margin-right: 16px;
            
            object{
                transition: 0.5s all;
                transform: translateY(-6px);
                height: 100%;
                width: 100%;
                color: $maincolor;
            }
            img{
                transform: translateY(-6px);
                height: 100%;
                width: 100%;
            }
        }
     
        &:hover{
            background-color: $maincolor;
            color: #fff;
            text-decoration: none;
            object{
                filter: grayscale(100%)    brightness(200%) ; 
            }
        }
    }
    
}
.main__block {
    
    background-color: #f9f9f9;
   
}

.main__content{
    background: url('/img/back/mainCrabpng.png')center (center/cover) no-repeat;
    height: 451px;
    padding-left: 94px;
    padding-top: 107px;
    letter-spacing: 2.4px;
}
.mait__title {
    
    color: #fff;
    margin-bottom: 13px;
}
.main__subtitle {
    padding-left: 2px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.9px;
    line-height: 28px;
    text-align: left;
    max-width: 485px;
    margin-bottom: 21px;
}

.main__more {
    margin-left: 3px;
}
